<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/sprout.png" >
    
    <link rel="stylesheet" href="/static/css/dashbord.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Kishan.</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/">
                        <!-- Use for left site table -->
                        <div class="title" style=" margin-left:50px;"> HOME</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="title">Crops</div>
                    </a>
                </li>
                <!-- <hr>    -->
                <li>
                    <a href="#">
                        <div class="title">Sesamun</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Sunflower</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Wheat</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Arhar</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Bajra</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Coconut</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Cotton</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Jowar</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Jute</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Moong</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Nigerseed</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Onion</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Paddy</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="title">Potato</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                    <label for="search"><i class="fas fa-search"></i></label>
                </div>
                <i class="fas fa-bell"></i>
                <div class="user">
                    <!-- login anchor -->
                    <a href=""><img src="/static/img/dashbord/doctor1.png" alt="login icon"></a>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                  <div class="card-content">
                    <div class="number">67 Quintal.</div>
                    <div class="card-name">Rabi Crops</div>
                  </div>
                  
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="number">50 Quintal.</div>
                    <div class="card-name">Kharif Crops</div>
                  </div>
                  
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="number">₹72/Kg.</div>
                    <div class="card-name">Proffit</div>
                  </div>
                  
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="number">₹4500</div>
                    <div class="card-name">Earnings</div>
                  </div>
                  
                </div>
              </div>
            <div class="tables">
                <div class="last-appointments">
                    <div class="heading">
                        <h2 style="font-size:30px">Price Crop name</h2>
                        <select class="btn">
                            <!-- <option value="2018">2018</option> -->
                            <option value="2026">2026</option>
                            <option value="2025">2025</option>
                            <option value="2024">2024</option>
                            <option value="2023" >2023</option>
                            <option value="2022" selected>2022</option>
                        </select>
                    </div>
                    <table class="appointments">
                        <thead>
                            
                            <td>Grade</td>
                            <td>Price</td>
                            <td>Selected</td>
                        </thead>
                        <tbody>
                            <!-- Use for middle table -->
                            <tr>

                                <td>A1</td>
                                <td>00.00</td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                               
                                <td>A2</td>
                                <td>00.00</td>
                                <td><input type="checkbox" name="" id=""></td>

                            </tr>
                            <tr>
                             
                                <td>B1</td>
                                <td>00.00</td>
                                <td><input type="checkbox" name="" id=""></td>

                            </tr>
                            <tr>
                               
                                <td>B2</td>
                                <td>00.00</td>
                                <td><input type="checkbox" name="" id=""></td>

                            </tr>
                            <tr>
                                
                                <td>C1</td>
                                <td>00.00</td>
                                <td><input type="checkbox" name="" id=""></td>

                            </tr>
                            <tr>
                               
                                <td>C2</td>
                                <td>00.00</td>
                                <td><input type="checkbox" name="" id=""></td>

                            </tr>
                            
                            
                           
                        </tbody>
                            
                    </table>
                    <br>
                    <button type="submit" onclick="submit()" class="btn">Submit</button>
                </div>
                <div class="doctor-visiting">
                    <div class="heading">
                        <h2 style="font-size:30px">Material & Labour Input</h2>
                        
                       
                    </div>
                    <table class="visiting">
                        <thead>
                            <!-- <td>Photo</td> -->
                            <td>Name</td>
                            <td>Cost</td>
                            <!-- <td>Detail</td> -->
                        </thead>
                        <tbody>
                            <!-- Use for right site table -->
                            <tr>
                                <!-- <td>name1</td> -->
                                <td>Seeds</td>
                                <td>00.00</td>
                                <!-- <td>00.00</td> -->
                            </tr>
                            <tr>
                                <!-- <td>name1</td> -->
                                <td>Fertilizer</td>
                                <td>00.00</td>
                                <!-- <td>00.00</td> -->
                            </tr>
                            <tr>
                                <!-- <td>name1</td> -->
                                <td>Manure</td>
                                <td>00.00</td>
                                <!-- <td>00.00</td> -->
                            </tr>
                            <tr>
                                <!-- <td>name1</td> -->
                                <td>Human Labour</td>
                                <td>00.00</td>
                                <!-- <td>00.00</td> -->
                            </tr>
                            <tr>
                                <!-- <td>name1</td> -->
                                <td>Animal Labour</td>
                                <td>00.00</td>
                                <!-- <td>00.00</td> -->
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <script>
        function submit() {
                window.location.reload("Refresh");
                alert('Submit Sucessfully ');   
            }
    </script>
    
</body>

</html>

