
{% extends "base.html" %}
{% block content %}


        <!-- ------------container------------ -->
        <div class="container">
            <div class="row">
                <div class="about-body">
                  <h2 class="hdstyle2  mb-5">Frequently Asked Questions</h2>
                  
                  
                  
                  <div class="panel-group heightauto" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn1">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen1" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 1. What is a farm family?</a> </h4>
              </div>
              <div id="collapsen1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>As per the definition used for the scheme, a farm family comprises all members who share a common ration number.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn2">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen2" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 2. What is the definition of a Landless Agricultural Household?</a> </h4>
              </div>
              <div id="collapsen2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>A Landless Agricultural Household is a Household that doesn't own any land and is engaged for more than 6 months in agricultural activities not covering other activities such as construction, etc. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn3">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen3" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 3. Are Anganwadi workers eligible under the KALIA Scheme?</a> </h4>
              </div>
              <div id="collapsen3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Anganwadi workers are not considered full-time government employees and are therefore eligible under the scheme, given that they are not ineligible as per any of the other ineligibility criteria.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn4">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen4" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 4. What activities are going on at Gram Panchayat Level under KALIA scheme?</a> </h4>
              </div>
              <div id="collapsen4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p><strong>The activities that are going on at GP level are</strong></p>
                  <ul>
                      <li>Display and verification of KALIA beneficiary list at Gram Panchayat level at GP/PACS office for public view.</li>
                      <li>Suo-Moto Exclusion/Update of incomplete details of unverified applications through field verification and with green forms available at the Gram Panchayat.</li>
                      <li>Receiving of new inclusion forms in specific low represented Gram Panchayats. </li>
                  </ul>
                  <p><strong>Additionally, general public can also </strong></p>
                  <ul>
                      <li>Submit objection forms either online on KALIA Portal or hardcopy submission to Gram Panchayat Nodal Officer to exclude beneficiaries who he/she thinks is ineligible.</li>
                      <li>Submit new inclusion form online on KALIA Portal.   </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn5">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen5" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 5. How long these activities will continue?</a> </h4>
              </div>
              <div id="collapsen5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>These above said activities will be carried out at Gram Panchayat Level from 5th August to 31sh August. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn6">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen6" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 6. Has the Govt. made any other arrangement for display of beneficiaries list other than displaying at GP/PACS Office?</a> </h4>
              </div>
              <div id="collapsen6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, the Department of Agriculture and Farmers' Empowerment has made KALIA beneficiary list of Small and Marginal farmers and Landless Agriculture Households, available on the KALIA web portal (www.kalia.co.in)</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn7">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen7" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 7. If a beneficiary mentioned in the list is found to be ineligible, can any person submit an objection form to exclude that beneficiary?</a> </h4>
              </div>
              <div id="collapsen7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p> Yes, any person other than beneficiary himself/herself can submit the objection form, in the name of any other ineligible beneficiary, to either the GPNO or directly on the KALIA web portal. Please note, details of any person who submits the objection form will be kept confidential. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn8">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen8" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 8. What are the criteria that make any beneficiary ineligible? </a> </h4>
              </div>
              <div id="collapsen8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <ul>
                      <li>If beneficiary is not a permanent resident of Odisha.</li>
                      <li>Beneficiary is a medium/large farmer (owned 5.00 Acres &amp; more area of cultivated land).</li>
                      <li>Beneficiary or his / her spouse is an employee under SG/ CG or PSU.</li>
                      <li>Beneficiary or his / her spouse is a pension holder in any of these organisations.</li>
                      <li>Beneficiary belongs to Urban Local Body.</li>
                      <li>Beneficiary is a present/former Central Minister/State Minister/MP/MLA/Mayor/Zila Parishad</li>
                      <li>Beneficiary is Lawyer/Engineer/Architect/Chartered Accountant/Doctor/Police/Teacher registered with professional bodies</li>
                      <li>Beneficiary or his/her family member is an Income/Professional tax payer or assessee</li>
                      <li>Beneficiary is a minor (less than 18 years)</li>
                      <li>Beneficiary has expired</li>
                      <li>Beneficiary has been assisted multiple times (more than one).</li>
                      <li>Beneficiary not interested i.e. Voluntary Exclusion</li>
                      <li>Multiple members of the same eligible family </li>
                      <li>No such beneficiary traceable</li>
                      <li>Former and present holders of constitutional posts</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn9">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen9" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 9. What can be done if beneficiary name is there in the displayed list but he/she hasn't received assistance in his/her bank account?</a> </h4>
              </div>
              <div id="collapsen9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p> Beneficiary whose name is there in the displayed list but did not get assistance might be due to incorrect bank account information provided. Bank account updation of these beneficiaries is going on at Gram Panchayat Level. Such beneficiaries are requested to give a photocopy of the Aadhar card and first page of the passbook of any active bank account other than Jan Dhan Yojana /Loan account.  </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn10">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen10" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 10. Beneficiary is not interested for KALIA assistance? </a> </h4>
              </div>
              <div id="collapsen10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p> The beneficiary who is not interested for KALIA assistance can contact the nearest concerned Bank Manager to refund the already received KALIA assistance and apply in the prescribed refund form.  Copy of this form can be obtained from GP Nodal Officer or can be downloaded from the KALIA portal (www.kalia.co.in) and submitted to the concerned bank. Refund can be made to the account details mentioned below. </p>
                  <ul class="mb-2">
                  <li>Director of Agriculture and Food Production, Odisha</li>
                  <li>Bank Name - State Bank of India</li>
                  <li>Branch Name - Secretariat Branch, Bhubaneswar.</li>
                  <li>Account Number-38474500762 </li>
                  <li>IFS code-SBIN0010236</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn11">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen11" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 11. A beneficiary has already got the KALIA assistance but thinks that he/she himself is not eligible for this?</a> </h4>
              </div>
              <div id="collapsen11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>In this case, the beneficiary has to contact the GP Nodal Officer to fill up the form for exclusion of his/her name as well as submit the refund form for amount already received to the above mentioned bank account of the Govt.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="headingn12">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsen12" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 12. A farmer fulfils all the eligible criteria under the scheme but has still not received assistance nor his/her name appears in the beneficiary list? How can he apply for inclusion of his/her name?</a> </h4>
              </div>
              <div id="collapsen12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p> If a farmer has applied earlier in Green Form but till date has not got KALIA assistance then the concerned farmer can approach the nearest Common Service Centre to apply directly in online mode in the KALIA web portal at kalia.co.in. </p>
                </div>
              </div>
            </div>
            
            
            
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed"> <i class="more-less fa fa-plus"></i> 13. What is KALIA Scheme?</a> </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>KALIA scheme is a package for farmer's welfare. KALIA stands for “Krushak Assistance for Livelihood and Income Augmentation”. This scheme has been launched by Odisha Government to accelerate Agricultural Prosperity and reduce poverty in the State.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed"> <i class="more-less fa fa-plus"></i>14. Who is eligible to get benefit under KALIA Scheme?</a> </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Small and marginal farmers, landless Agricultural household, vulnerable Agricultural household, landless Agricultural labourers and sharecroppers (Actual cultivators) all growth are eligible under different components of scheme. Total of 50 lakh families will be covered under the scheme</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"> <i class="more-less fa fa-plus"></i> 15. Who is a small and marginal farmer?</a> </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>A small farmer is cultivator who owns 1 hectare (2.5 acres) to 2 hectares (5 acres) of Agricultural land. A marginal farmer is a farmer who owns less than 1 hectare of Agricultural land.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"> <i class="more-less fa fa-plus"></i> 16. What are the benefits available to cultivators for cultivation under KALIA scheme?</a> </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Financial assistance of Rs.25,000/- per farm family over five seasons will be provided to small and marginal farmers so that farmers can purchase inputs like seeds, fertilizers, pesticides and use assistance towards labour and other investments. This scheme is implemented from current Rabi Season 2018-19 onwards. </p>
                </div>
              </div>
            </div>
                          
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading5">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"> <i class="more-less fa fa-plus"></i> 17. Is there any benefit for landless agricultural household?</a> </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, Financial Assistance of Rs.12500/-will be provided to each landless Agricultural Household for Agricultural allied activities like for small goat rearing unit, mini-layer unit, duckery units, fishery kits for fisherman, mushroom cultivation and bee-keeping, etc. This will particularly benefit to SC &amp; ST population of our State.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading6">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"> <i class="more-less fa fa-plus"></i> 18. Is there any scope for financial assistance to vulnerable agricultural household?</a> </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, the vulnerable cultivators/landless agricultural laborers will get financial assistance of Rs. 10,000/- per family per year to enable them to take care of their sustenance. The vulnerable cultivator/landless Agricultural Laborers who are in old age, having disability/ disease and are vulnerable for any other reason</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed"> <i class="more-less fa fa-plus"></i> 19. Is there any life insurance support to cultivators and landless agricultural laborers?</a> </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes,</p>
                  
                  <ul>
                      <li>Life insurance cover of Rs. 2.00 lakh at a very nominal premium of Rs.330/- will be provided to all savings bank account holder of age between 18-50 years. Government of Odisha will bear farmers’ share of annual premium of Rs.165/-. </li>
                      <li>Personal accident cover of Rs.2.00 lakh at a very nominal annual premium of Rs.12/- for all savings bank account holder aged between 18-50 years. Out of Rs.12/- towards premium, Rs.6/- is the farmers’ share, which will be borne by the Govt. of Odisha.</li>
                      <li>In respect of the above beneficiary whose age is between 51-70 years, the entire amount of Rs.12/- towards annual premium will be borne by Govt. of Odisha.</li>
                  </ul>
                  
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading8">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8" class="collapsed"> <i class="more-less fa fa-plus"></i> 20. Is there any provision for providing interest free crop loan to farmers under KALIA scheme?</a> </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, Crop loan up to Rs.50,000/- will be provided at 0% interest from the Khariff Season of the year 2019. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading9">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9" class="collapsed"> <i class="more-less fa fa-plus"></i> 21. Who is eligible to get the benefits under KALIA Scheme?</a> </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                
               <ul>
                  <li>Small and Marginal Farmers are eligible to get benefit under support to cultivators for cultivation. </li>
                  <li>Land less agricultural households are eligible to get livelihood support under the scheme.</li>
                  <li>Vulnerable agricultural household covering vulnerable cultivators/ landless agricultural labourers are eligible to get financial assistance under the KALIA scheme. Vulnerable cultivators/ landless agricultural labourers include old age, disability, disease or any other reason. Out of the above three components viz., support to cultivators for cultivation, livelihood support for landless agricultural household and financial assistance to vulnerable agricultural household, one beneficiary will avail only one benefit as per the eligibility. </li>
                 </ul>
                
                  <p>  Life Insurance Support to cultivators and Landless agricultural labourers as well as the interest free crop loan component are meant for all category of beneficiary under KALIA scheme.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading10">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10" class="collapsed"> <i class="more-less fa fa-plus"></i> 22. What is a Farm Family?</a> </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>A farm family constitutes a farmer and his/her spouse along with their   dependent children.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading11">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11" class="collapsed"> <i class="more-less fa fa-plus"></i> 23. Whether an employee of the Government/PSU is eligible to get the benefit under the scheme?</a> </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>An employee of the Government/PSU is excluded to get the benefit under the scheme.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading12">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12" class="collapsed"> <i class="more-less fa fa-plus"></i> 24. Is an income tax payee farmer or his/her spouse is eligible to get benefit under the scheme?</a> </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>These categories of farmers are excluded.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading13">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13" class="collapsed"> <i class="more-less fa fa-plus"></i> 25. How a small and marginal farmer (Cultivator) knows that his/her name is included in the list of beneficiaries?</a> </h4>
              </div>
              <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>A draft list of beneficiaries under “KALIA” scheme will be published in THREE PHASES at each PACS and GP level. A first phase of Draft Farmer’s list will be published in the 1st week of January, 2019. The concerned beneficiary may check the list at PACS or GP level and know whether his/her name is included in the list. 
          Similarly, the Second and Third Phase of publication of draft list of farmers will be February and March respectively. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading14">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14" class="collapsed"> <i class="more-less fa fa-plus"></i> 26. What is the remedy available for eligible beneficiary if his/her name is not included in the draft list?</a> </h4>
              </div>
              <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>He/she may fill the “Green Form” available at G.P office and PACS and drop the duly filled form in the “DROP BOX” kept at PACS/GP office level. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading15">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15" class="collapsed"> <i class="more-less fa fa-plus"></i> 27. What steps an employee of the Govt./PSU  and Income Tax Payee farmer or his/her  spouse need to take for exclusion of his /her name from the draft list ?</a> </h4>
              </div>
              <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>He/She may use “RED form” available at GP office or PACS  for exclusion of his/her name and put it in the “ DROP BOX ”  after duly filling in. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading16">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16" class="collapsed"> <i class="more-less fa fa-plus"></i> 28. Whether a small/marginal farmer during cultivation in Rabi-2018-19 is eligible to get the benefit under this scheme.</a> </h4>
              </div>
              <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, He/She will be eligible and get the benefit in January 2019 onwards</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading17">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17" class="collapsed"> <i class="more-less fa fa-plus"></i> 29. How the benefit under support to cultivation for cultivation will be released?</a> </h4>
              </div>
              <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>The amount will be transferred online directly to the account of the family of the farmer. </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading18">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18" class="collapsed"> <i class="more-less fa fa-plus"></i> 30. How will farmers get information and for registering grievance about KALIA scheme? Is there any HELPLINE for the farmers to know about KALIA scheme?</a> </h4>
              </div>
              <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, a helpline namely KALIA Helpline is in place with the following phone numbers. A farmer can get information about KALIA scheme by giving a phone call to this Helpline. He can also register his grievance through this Helpline. The number is - 1800-572-1122 </p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading19">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19" class="collapsed"> <i class="more-less fa fa-plus"></i> 31.  What is KALIA BARTA?</a> </h4>
              </div>
              <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Celebrity answers: KALIA BARTA is an information service being set up by the State Government to facilitate dissemination of information to farmers about KALIA Scheme. Any person wanting to get information on Kalia Scheme can register for Kalia Barta by giving a miss call to the telephone No. 08061174222.. He will automatically get registered with the Government. All information about KALIA Scheme will be sent to his phone number through SMS and voice messages from time to time.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel">
              <div class="panel-heading" role="tab" id="heading20">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20" class="collapsed"> <i class="more-less fa fa-plus"></i> 32. Whether a farmer can get information through WhatsApp?</a> </h4>
              </div>
              <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, to get information about KALIA scheme through WhatsApp. A farmer has to register his mobile phone number through website of KALIA scheme - www.kalia.co.in . A farmer may visit the above-mentioned websites to know more about KALIA scheme.</p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default faqpanel ">
              <div class="panel-heading" role="tab" id="heading21">
                <h4 class="panel-title screenreader"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21" class="collapsed"> <i class="more-less fa fa-plus"></i> 33. Are there any special camps organized for creating awareness about KALIA scheme?</a> </h4>
              </div>
              <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21" aria-expanded="false" >
                <div class="panel-body screenreader" tabindex="23">
                  <p>Yes, a farmer can know about details of the KALIA scheme during the PEETHA camps being organized between 15th January to 20th January 2019 at GP level. The PEETHA camp will be organized during the period from 15th February to 20th February 2019 and 15th March to 20th March 2019 also. During the PEETHA camp letters about extension of financial assistance to small and marginal farmers will be handed over. </p>
                </div>
              </div>
            </div>
          </div>
        <!-- ------------end container---------- -->

      
        {% endblock %}