{% extends "base.html" %}
{% block content %}

<marquee>
   Government Of Odish Lunch A New Scheme...
</marquee>

<section>
     <!-- home section starts  -->

     <section class="home" id="home">

        <div class="swiper home-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box" style="background: url(static/img/back1.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>"My heart has always been in farming."</p>
                        <div class="button">
                            <a href="{% url 'login' %}" class="btn">Login</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box" style="background: url(static/img/back2.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>"I was born to be a farmer. It is what I know and what I love."</p>
                        <div class="button">
                            <a href="{% url 'login' %}l" class="btn">Login</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box" style="background: url(static/img/back3.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>"To me, there's nothing more special than providing food for other families, <br>
                            and that's what we do out here."</p>
                        <div class="button">
                            <a href="{% url 'login' %}" class="btn">Login</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box" style="background: url(static/img/back7.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>Jai Jawan Jai Kishan</p>
                        <div class="button">
                            <a href="{% url 'login' %}" class="btn">Login</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box" style="background: url(static/img/back5.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>"Agriculture is such a rewarding community to be a part of,<br> and will only continue to grow if we work together.”</p>
                        <div class="button">
                            <a href="{% url 'login' %}" class="btn">Login</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box" style="background: url(static/img/back6.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>"To forget how to dig the earth and to tend the soil is to forget ourselves."</p>
                        <div class="button">
                            <a href="{% url 'login' %}" class="btn">Login</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box" style="background: url(static/img/back8.jpg);">
                    <div class="content">
                        <!-- <h3>Farming</h3> -->
                        <p>Jai Jawan Jai Kishan</p>
                        <div class="button">
                            <a href="{% url 'login' %}" class="btn">Login</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

    <!-- home section ends -->

    <!-- products section starts  -->

    <section class="products" id="products">

    <h1 class="heading"> <span> our products</span> </h1>

    <div class="swiper products-slider" data-aos="zoom-in">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/wheat.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/beet.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/broccoli2.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/cabbage_3.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/cabbage2.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/carrot.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/garlic.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/ginger.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/mushroom.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/onions.png" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div>-->
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="static/img/crop/3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>latest products</h3>
                    <!-- <div class="price"> ₹280 <span>₹300</span> </div> -->
                </div>
            </div> -->

            
            

        </div>

    </div>

    </section>

        <!-- products section ends -->


    <!-- about section starts  -->

    <section class="about" id="about">

    <div class="content" data-aos="fade-right">
        <h3>about us</h3>
        <p>Financing agriculture and insuring the cultivators is essential to eradicate poverty and to boost shared prosperity of the state. </p>
        <a href="{% url 'scheme' %}" class="btn">read more</a>
    </div>

    </section>

    <!-- about section ends -->

</section>

{% endblock %}
       



