<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale">
        <title>Login </title>
        <link rel="icon" href="logo.png">
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <section>
            <div class="imgBox">
                <img src="/static/img/loginpage.jpg" alt="">
            </div>
            <div class="contentbox">
                <div class="formbox">
                    <h2>login</h2>
                    <form action="">
                        <div class="inputbox">
                            <span>Username</span>
                            <input type="text" placeholder="Username" required>

                        </div>
                        <div class="inputbox">
                            <span>Password</span>
                            <input type="password" placeholder="Password" required>
                            
                        </div>
                        <div class="remember">
                            <label>
                            <input type="checkbox">  Remember me
                        </label>
                        <br><br>
                        <p style="text-align:center; color:black; font-weight:bold; font-size:14px;">Forgot Password?  <a href="#"  onClick="refresh(this)" style="text-decoration: none; color:green;">Generate Password</a></p>
                        </div>
                        <br><br>

                        
                            <div class="inputbox">
                               <a href="{% url 'register' %}">
                                <input type="submit" value="submit" >
                            </a>                         
                                
                                <!-- <a href="{% url 'register' %}"></a><button class="btn">Sign in</button></a> -->
                                
                            </div>
                        
                        

                        <div class="inputbox">
                            <p>Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none;color:green;">Sign Up</a></p>                           
                        </div>

                    </form>

                    <h3>Login with Social media</h3>
                    <ul class="sci">
                        <li><img src="facebook" alt=""></li>
                        <li><img src="facebook" alt=""></li>
                        <li><img src="facebook" alt=""></li>
                    </ul>
                </div>

            </div>
        </section>
    </body>
</html>