{% extends "base.html" %}
{% block content %}

            <!-- about section starts  -->

<section class="about" id="about">

    <div class="content" data-aos="fade-right">
        <h3>about us</h3>
        <p>Financing agriculture and insuring the cultivators is essential to eradicate poverty and to boost shared prosperity of the state. </p>
        <a href="#" class="btn">read more</a>
    </div>

</section>

<!-- about section ends -->

            <!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading">  <span>our new Schemes</span> </h1>

    <div class="box-container">
        
              

          <div class="box" data-aos="fade-down"> 
            <div class="image">
                <img src="/static/img/scheme2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="/static/img/scheme3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="/static/img/scheme4.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="/static/img/scheme1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="/static/img/scheme2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div> 

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="/static/img/scheme4.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="/static/img/scheme3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>  
        <div class="box" data-aos="fade-right">
            <div class="image">
                <img src="/static/img/scheme2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Kalia Yojana.</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, harum!</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 15th oct, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
            </div> 



    </div>

</section>

<!-- blogs section ends -->
{% endblock %}

